:root {
    --topMov: 10px;
    --leftMov: 30px;
    --rightMov: 30px;
}

canvas {
    pointer-events: none;
}

.hidden {
    display: none;
}

area {
    cursor: pointer;
}

area[data-active="true"] {
    pointer-events: none !important;
}

.container {
    margin: 150px auto 0 auto;
    width: 100%;
    font-family: sans-serif;
    max-width: 1400px;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container img {
    width: 100%;
    height: auto;
}

.container button.showAll {
    border: 1px solid #f99602;
    background: none;
    padding: 0 20px;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    width: 150px;
}

.container button.showAll.open {
    visibility: visible;
    opacity: 1;
}

.container button.showAll:hover {
    background: #f99602;
    color: white;
}

.container button.showAll.show .show,
.container button.showAll:not(.show) .hide {
    display: none;
}

.container button.showAll.show .hide {
    display: block;
}

/**** BOX *****/

.box {
    width: 100%;
    max-width: 280px;
    background: transparent;
    padding: 10px 15px;
    min-height: 165px;
}

.box.open {
    background: #ccc;
}

.box .title {
    font-size: 17px;
    font-weight: bold;
    width: calc(100% - 25px);
    background-color: transparent;
    grid-area: title;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    display: block;
}

.box .content {
    transition: all 0.1s ease-in-out;
    visibility: hidden;
    opacity: 0;
    display: grid;
    grid-template-areas:
        'title title'
        'img appl';
}

.box.open .content {
    visibility: visible;
    opacity: 1;
}

.box .content .applications {
    display: flex;
    padding-left: 10px;
    font-size: 15px;
    position: relative;
    grid-area: appl;
    top: -3px;
    text-align: left;
}

.box .content img {
    grid-area: img;
}

.box .close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    visibility: hidden;
    opacity: 0;
}

.box.open .close {
    visibility: visible;
    opacity: 1;
}

.box:not(.open) .title {
    position: relative;
    top: 70px;
    background: white;
    padding-left: 25px;
    margin-left: -25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #f99602;
}


